.instruments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instruments>div {
  padding: 10px;
  background-color: #015692;
  color: #fff;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #1e1e1e;
  width: 100%;
  text-align: right;
  color: #1e1e1e;
  font-size: 11px;
}

table td:first-child {
  text-align: left;
  width: 50%;
}

table td:last-child {
  text-align: right;
}

table.tableFooter td {
  width: 25%;
  text-align: center;
}